<?xml version="1.0" encoding="utf-8"?>
<manifest android:sharedUserId="android.uid.phone" android:versionCode="17" android:versionName="4.2.2-eng.root.20140327.111211" package="com.android.utk"
  xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:androidprv="http://schemas.android.com/apk/prv/res/android">
    <original-package android:name="com.android.utk" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher_uim_toolkit" android:process="com.android.phone" android:clearTaskOnLaunch="true">
        <activity android:label="@string/app_name" android:name="UtkLauncherActivity" android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="UtkMenuActivity" android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="UtkInputActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:theme="@*android:style/Theme.Dialog" android:name="UtkDialogActivity" />
        <activity android:theme="@*android:style/Theme.Dialog" android:name="ToneDialog" />
        <activity android:label="@string/app_name" android:name="UtkSettings">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEVELOPMENT_PREFERENCE" />
            </intent-filter>
        </activity>
        <receiver android:name="com.android.utk.UtkCmdReceiver">
            <intent-filter>
                <action android:name="android.intent.action.utk.command" />
                <action android:name="android.intent.action.utk.session_end" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.android.utk.BootCompletedReceiver" androidprv:primaryUserOnly="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.SIM_STATE_CHANGED" />
            </intent-filter>
        </receiver>
        <service android:name="UtkAppService" />
    </application>
</manifest>